<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo">Логотип</div>
    <div class="title">Заголовок</div>
    <div class="subtitle">
      <p>Измените код стандартного приложения AdonisJS</p>
      <p>
        Для изучения этого фрймворка перейдите по ссылке -> <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
    </div>
  </section>
</body>
</html>
